<div style="height: 100px; margin-top: 100px;" class="text-center">
    <h1>Welcome, {{ userName }}!</h1>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title">User Information</h5>
                    <p class="card-text">Email: {{ data.email }}</p>
                    <p class="card-text">Username: {{ data.username }}</p>
                    <p class="card-text">Role: {{ data.role }}</p>
                    {{#if isSeller}}
                        <a href="/seller/getorders" class="btn btn-primary">View Orders</a>
                    {{/if}}
                    {{#if isAdmin}}
                        <a href="/admin/sellerrequests" class="btn btn-primary">Seller Requests</a>
                        <a href="/admin/getbuyers" class="btn btn-primary">View Buyers</a>
                    {{/if}}
                    
                    <a href="/logout" class="btn btn-primary">Log out</a>
                </div>
            </div>
        </div>
    </div>
</div>
