<div style="height: 100px; margin-top: 100px;" class="text-center">
    <h1>Welcome to Farmers' Market</h1>
</div>
<div class="row">
    <div class="col m-4 card">
        <div class="card-body text-center">
            <div class="card-title">
                <h2>Offering local brands</h2>
                <p>Shop for products from local Lebanese farmers and producers</p>
                <a href="/buyer/shop" class="btn btn-primary">Shop Now</a>
            </div>
        </div>
    </div>
    {{#if isLoggedIn}}
    <div></div>
    {{else}}
    <div class="col m-4 card">
        <div class="card-body text-center">
            <div class="card-title">
                <h2>Already a member?</h2>
                <a href="/login" class="btn btn-primary">Login</a><br>
                <a href="/signup" class="btn btn-primary">Sign Up</a>
            </div>
        </div>
    </div>
    {{/if}}
</div>
